<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ConnectionStrings>
    <LocalDB>Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=\"C:\\Users\\Szegedi Barnabás\\source\\repos\\Solution\\BookRentalFinal\\Data\\DevelopmentDatabase.mdf\";Integrated Security=True</LocalDB>
  </ConnectionStrings>
</configuration>